<%- include('header')%>
    <%- include('sidebar')%>
        <%- include('navbar')%>

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->
                <h1 class="fw-bold p-3 mb-4 text-center"> Skillkulaa Admin Panel</h1>
            </div>
            </div>
            <!-- / Content -->

            <%- include('footer')%>